[client]
default-character-set = "{{ character_set }}"

[mysql]
default-character-set = "{{ character_set }}"

[mysqld]
character-set-client-handshake = FALSE
character-set-server = "{{ character_set }}"
collation-server = "{{ collation }}"
